<app-navbar></app-navbar>
<div class="container mt-5" *ngIf="!sendresult">
    <div class="d-flex justify-content-center row" style="    margin-bottom: 5rem;">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h4>MCQ Quiz</h4><span>({{questionNumber}} of {{queCount}})</span>
                    </div>
                    <div *ngIf="userType == 'admin'">
                        <button  style="margin-left: 400px;" class="btn btn-primary  align-items-center btn-danger" type="button" (click)="deleteQue(currentQue.id)">
                            Delete Question
                         </button>
                    </div>
                </div>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">{{currentQue.question}}</h5>
                    </div>

                    <div *ngFor="let que of currentQue.options; let idx = index">
                        <input type="radio" name="radiogroup" value="{{que._id}}" (change)="onSelectionChange(que, currentQue.id)">
                        <label for="{{que.text}}">&nbsp;&nbsp;{{que.text}}</label><br>
                    </div>

                </div>
                <!-- <div class=" justify-content-between align-items-center p-3 bg-white">
                    <button class="btn btn-primary  align-items-center btn-danger" *ngIf="questionNumber >= 2"
                        (click)="prevQue()" type="button">
                        <i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous
                    </button> -->
                <div style="text-align: right;">
                    <button class="btn btn-primary border-success align-items-center btn-success" style="margin:15px"
                      *ngIf="questionNumber < queCount " [disabled]="!visible" type="button" (click)="nextQue(currentQue.options)">Next
                        <i class="fa fa-angle-right ml-2"></i>
                    </button>
                    <button class="btn btn-primary border-success align-items-center btn-success" style="margin:15px"
                        *ngIf="questionNumber >= queCount " type="button" [disabled]="!visible" (click)="submitTest()">
                        Submit<i class="fa fa-angle-right ml-2"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 " *ngIf="!sendresult">
    <div class="fixAction" >
        <a class="btn btn-danger" routerLink="/test">Cancle Test</a>
    </div>
</div>

<app-result [sendresult] = 'sendresult'></app-result>
<app-footer></app-footer>