body {
    background-color: #eee
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}
label.radio span {
    padding: 4px 0px;
    border: 1px solid #e23434;
    display: inline-block;
    color:#e23434;
    width: 100px;
    text-align: center;
    border-radius: 3px;
    margin-top: 7px;
    text-transform: uppercase
}

label.radio input:checked+span {
    border-color:#e23434;
    background-color:#e23434;
    color: #fff
}

.ans {
    margin-left: 36px !important
}
.btn:focus {
    outline: 0 !important;
    box-shadow: none !important
}

.btn:active {
    outline: 0 !important;
    box-shadow: none !important
}
.p-3 {
    padding: 1rem!important;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.bg-white {
    background-color: #fff!important;
}
.border {
    border: 1px solid #dee2e6!important;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.flex-row {
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}

.text-danger {
    color:#e23434!important;
    margin-top: 0px;
}
.h3, h3 {
    font-size: 1.75rem;
}
.ml-2, .mx-2 {
    margin-left: .5rem!important;
}
.mt-1, .my-1 {
    margin-top: .25rem!important;
}
label.radio {
    cursor: pointer;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.border-success {
    border-color: #28a745!important;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}
.fixAction{
    margin-left: 695px;
}