
.navbar-inverse {
    background-color:white;
    border-color:white;
}
.navbar-inverse .navbar-brand {
    color: rgb(66, 177, 221) ;
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(66, 177, 221);
}

.navbar-inverse .navbar-nav>.active>a{
background-color:white;
}

